# add for: capstone 2, project 2
cramjam==2.10.0
fastparquet==2024.11.0
fsspec==2025.3.2
numpy==2.2.6
packaging==25.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
six==1.17.0
SQLAlchemy
typing_extensions==4.13.2
tzdata==2025.2
